---
layout: with-jumbotron
title: people in the group
root: "../"
---

<div class="row hidden-xs"><p><br></p></div>

<div class="row">
<div class="col-sm-3 col-md-3 col-lg-2">
  <!-- <div class="well"> -->
    <h3>People</h3>
	<hr>
    <h4>Group Leader</h4>
    <p><i class="fa
	fa-user fa-lg fa-fw"></i>  Dylan Childs</p>
    <p><br></p>
    <h4>Post Docs</h4>
    {% for person in site.data.group.pdra-current %}<p><i class="fa
	fa-user fa-lg fa-fw"></i> {{ person.name }}</p>{% endfor %}
    <p><br></p>
    <h4>PhD Students</h4>
    {% for person in site.data.group.phd-current %}<p><i class="fa
	fa-user fa-lg fa-fw"></i> {{ person.name }}</p>{% endfor %}
    <p><br></p>
    <h4>Masters Students</h4>
    {% for person in site.data.group.msc-current %}<p><i class="fa
	fa-user fa-lg fa-fw"></i> {{ person.name }}</p>{% endfor %}
  <!-- </div> -->
  <br>
</div>
<div class="col-sm-9 col-md-9 col-lg-10">
  <h3>Positions Available</h3>
  <hr>
  <div class="thumbnail right-caption">
    <img data-src="holder.js/120x120" alt="..." class="img-circle">
    <div class="caption">
      <h4>Post Doc <small>Starting May 2014</small></h4>
      <p><span data-lorem="4s"></span><a href="#"> Find out more</a></p>
    </div>
  </div>
  <h3>Group Members and Associates</h3>
  <hr>
  <div class="thumbnail right-caption">
    <img data-src="holder.js/120x120" alt="..." class="img-rounded">
    <div class="caption">
      <h4>Dylan Childs <small>Group Leader</small></h4>
      <p class="text-justify">Dylan is a population biologist with
  interests at both the pure and applied ends of the spectrum. He
  follows an interdisciplinary approach, developing data-driven models
  to understand population dynamics and natural selection in
  laboratory and free-living populations. He is particularly keen to
  understand how demographic, environmental and ecological processes
  interact to shape selection on life histories. He is also interested
  in developing theory and applications for modelling structured
  populations. </p>
    </div>
  </div>
  {% for person in site.data.group.phd-current %}
  <div class="thumbnail right-caption">
    <img data-src="holder.js/120x120" alt="..." class="img-rounded"">
    <div class="caption">
      <h4>{{ person.name }} <small>PhD Student</small></h4><p>{{ person.about }}<a href="#"> Find out more</a></p>
    </div>
  </div>
  {% endfor %}
</div>

</div>
