---
layout: with-jumbotron
title: people in the group
root: "../"
---

<div class="row hidden-xs"><p><br></p></div>

<div class="row">
<div class="col-sm-3 col-md-3 col-lg-2">
  <!-- <div class="well"> -->
    <h3>People</h3>
	<hr>
    <h4>Group Leader</h4>
    <p><i class="fa
	fa-user fa-lg fa-fw"></i>  Dylan Childs</p>
    <p><br></p>
    <h4>Post Docs</h4><br>
    {% for member in site.data.group.pdras %}{% assign i = forloop.index0 %}{% assign in_people = false %}{% for person in site.data.people %}{% if in_people == false and person.key == member %}<p><i class="fa fa-user fa-lg fa-fw"></i>{{person.fname}}</p>{{ assign in_people = true }}{% endif %}{% endfor %}{% endfor %}
    <p><br></p>
    <h4>PhD Students</h4><br>
    {% for member in site.data.group.phds %}{% assign i = forloop.index0 %}{% assign in_people = false %}{% for person in site.data.people %}{% if in_people == false and person.key == member %}<p><i class="fa fa-user fa-lg fa-fw"></i>{{person.fname}}</p>{{ assign in_people = true }}{% endif %}{% endfor %}{% endfor %}
    <p><br></p>
    <h4>Masters Students</h4><br>
    {% for member in site.data.group.masters %}{% assign i = forloop.index0 %}{% assign in_people = false %}{% for person in site.data.people %}{% if in_people == false and person.key == member %}<p><i class="fa fa-user fa-lg fa-fw"></i>{{person.fname}}</p>{{ assign in_people = true }}{% endif %}{% endfor %}{% endfor %}
  <!-- </div> -->
  <br>
</div>
<div class="col-sm-9 col-md-9 col-lg-10">
  <h3>Positions Available</h3>
  <hr>
  <div class="thumbnail right-caption">
    <img data-src="holder.js/120x120" alt="..." class="img-circle">
    <div class="caption">
      <h4>Post Doc <small>Starting May 2014</small></h4>
      <p><span data-lorem="4s"></span><a href="#"> Find out more</a></p>
    </div>
  </div>
  <h3>Group Members and Associates</h3>
  <hr>
  {% for member in site.data.group.all-people %}{% assign i = forloop.index0 %}{% assign in_people = false %}{% for person in site.data.people %}{% if in_people == false and person.key == member %}
  <div class="thumbnail right-caption">
	  {% if person.image != null %}
       <img src="{{ page.root }}assets/images/{{ person.image }}"
	      width="130" height="130" class="img-rounded">
      {% else %}
        <img data-src="holder.js/130x130" alt="..." class="img-rounded">
      {% endif %}
    <div class="caption">
      <h4>{{ person.fname }}</h4>
      <p>{{ person.about }}<a href={{ person.url }}> Home page</a></p>
      {% if person.advisors != null %}<h5 class="text-right"><small>Advisors: {% assign andcase = person.advisors | size | minus: 1 %}{% for advisor in person.advisors %}{% assign i = forloop.index0 %}{% assign in_people = false %}{% for advisor_data in site.data.people %}{% if in_people == false and advisor_data.key == advisor %}{% if advisor_data.url != null %}<a href="{{advisor_data.url}}">{{advisor_data.fname}}</a>{% else %}{{advisor_data.fname}}{% endif %}{{ assign in_people = true }}{% endif %}{% endfor %} ({{person.roles[i]}}){% if forloop.index < forloop.length %}{% if forloop.index < andcase %}, {% else %} and {% endif %}{% endif %}{% endfor %}</small></h5>{% endif %}{% if person.advisors == null %}<h5><br><br></h5>{% endif %}
    </div>
  </div>
  
  {{ assign in_people = true }}{% endif %}{% endfor %}{% endfor %}    
</div>

</div>
