<div class="row hidden-xs">
  <div class="col-sm-4 col-md-4 text-center">
	<div class="well well-sm"><h4><a href="{{ site.url }}people/index.html" ><i class="fa fa-user fa-2x fa-fw"></i>People</a><h4></div>
  </div>
  <div class="col-sm-4 col-md-4 text-center">
	<div class="well well-sm"><h4><a href="{{ site.url }}research/index.html" ><i class="fa fa-bug fa-2x fa-fw"></i>Research</a><h4></div>
  </div>
  <div class="col-sm-4 col-md-4 text-center">
	<div class="well well-sm"><h4><a href="{{ site.url }}outputs/index.html" ><i class="fa fa-file-text fa-2x fa-fw"></i>Publications</a><h4></div>
  </div>
</div>
