<div class="row hidden-xs">
  <div class="col-sm-3 col-md-3 text-center">
    <a href="{{ site.url }}people/index.html" class="btn btn-link btn-lg">
    <i class="fa fa-user fa-2x fa-fw"></i>People</a></div>
  <div class="col-sm-3 col-md-3 text-center">
    <a href="{{ site.url }}research/index.html" class="btn btn-link btn-lg">
    <i class="fa fa-bar-chart-o fa-2x fa-fw"></i>Research</a></div>
  <div class="col-sm-3 col-md-3 text-center">
    <a href="{{ site.url }}outputs/index.html" class="btn btn-link btn-lg">
    <i class="fa fa-file-text fa-2x fa-fw"></i>Publications</a></div>
  <div class="col-sm-3 col-md-3 text-center">
    <a href="{{ site.url }}teaching/index.html" class="btn btn-link btn-lg">
    <i class="fa fa-pencil fa-2x fa-fw"></i>Teaching</a></div>
</div>
