.thumbnail.right-caption > img {
    float: left;
    margin-right: 9px;
}

.thumbnail.right-caption {
    float: left;
}

.thumbnail.right-caption > .caption {
    padding: 4px;
}

.thumbnail {
    border: 0 none;
    box-shadow: none;
}​

body {
    padding-bottom: 70px;
    margin-bottom: 70px;
}
