<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body>
  <div id="wrap">
    {% include navbar.html%}
    <div class="container">
      <br>
      <h2>Fundamental and Applied Population Biology Group</h2>
      <h2><small>We are interested in the population biology and life histories
      of organisms</small></h2>
      <br>
    </div>
  <div class="jumbotron hidden-xs">
    <div class="container text-left">
      {% include big-buttons.html%}
    </div>
  </div>
  <div class="container">
    <!-- {% include big-buttons.html%} -->
    {{ content }}
  </div>
  </div>
  {% include footer.html%}
  {% include scripts.html%}

</body></html>
